<form [formGroup]="vehicleForm" (ngSubmit)="enterVehicle(vehicleForm.value)">
    <div>
        <label for="placa">
            Vehicle registation
        </label>
        <input id="placa" type="text" formControlName="placa">
    </div>

    <div>
        <label for="cilindraje">
            Vehicle cylinder
        </label>
        <input id="cilindraje" type="text" formControlName="cilindraje">
    </div>

    <div>
        <label for="tipo">
            Vehicle type
        </label>
        <select name="tipo" id="tipo" formControlName="tipo">
            <option value="1" selected>Car</option> 
            <option value="2">Bike</option>
        </select>
    </div>
    <button type="submit">Enter</button>
</form>