<form [formGroup]="vehicleForm" (ngSubmit)="enterVehicle(vehicleForm.value)">
    <div>
        <label for="placa">
            Vehicle registration
        </label>
        <input id="placa" type="text" formControlName="placa">
        <div *ngIf="vehicleFormControls.placa.invalid && (vehicleFormControls.placa.dirty 
            || vehicleFormControls.placa.touched || controlFormError)">
            <div *ngIf="vehicleFormControls.placa.errors.required">
                Vehicle registration is required
            </div>
        </div>
    </div>

    <div>
        <label for="cilindraje">
            Vehicle cylinder
        </label>
        <input id="cilindraje" type="text" formControlName="cilindraje">
        <div *ngIf="vehicleFormControls.cilindraje.invalid && (vehicleFormControls.cilindraje.dirty 
            || vehicleFormControls.cilindraje.touched || controlFormError)">
            <div *ngIf="vehicleFormControls.cilindraje.errors.required">
                Vehicle cylinder is required
            </div>
        </div>
    </div>

    <div>
        <label for="tipo">
            Vehicle type
        </label>
        <select name="tipo" id="tipo" formControlName="tipo">
            <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.code">{{vehicleType.description}}
            </option>
        </select>
        <div *ngIf="vehicleFormControls.tipo.invalid && (vehicleFormControls.tipo.dirty 
            || vehicleFormControls.tipo.touched || controlFormError)">
            <div *ngIf="vehicleFormControls.tipo.errors.required">
                Vehicle type is required
            </div>
            <div *ngIf="vehicleFormControls.tipo.errors.invalidType">
                Invalid vehicle type
            </div>
        </div>
    </div>
    <button type="submit">Enter</button>
</form>

<div *ngIf="vehicleEntered !== undefined">
    <p>The vehicle with {{vehicleEntered.placa}} registration has been entered correctly at {{vehicleEntered.fechaIngreso | date:'medium'}}</p>
    <button (click)="goToVehicles()">Ok</button>
</div>

<div *ngIf="errorMessage !== undefined">
    <strong>Warning!</strong> {{errorMessage}}
</div>