<div class="container">
    <form [formGroup]="takeOutVehicleForm" (ngSubmit)="takeOutVehicle(takeOutVehicleForm.value)">
        <div>
            <mat-form-field [color]="primary">
                <input matInput placeholder="Vehicle Registration" type="text" formControlName="vehicleRegistration">
                <mat-error *ngIf="vehicleRegistration.invalid && (vehicleRegistration.dirty 
                || vehicleRegistration.touched || controlFormError)">
                    <div *ngIf="vehicleRegistration.errors.required">
                        Vehicle registration is required
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit">Take Out</button>
    </form>
</div>