<form [formGroup]="takeOutVehicleForm" (ngSubmit)="takeOutVehicle(takeOutVehicleForm.value)">
    <div>
        <label for="vehicleRegistration">
            Vehicle registration
        </label>
        <input id="vehicleRegistration" type="text" formControlName="vehicleRegistration">
        <div *ngIf="vehicleRegistration.invalid && (vehicleRegistration.dirty 
            || vehicleRegistration.touched || controlFormError)">
            <div *ngIf="vehicleRegistration.errors.required">
                Vehicle registration is required
            </div>
        </div>
    </div>
    <button type="submit">Take Out</button>
</form>
<div *ngIf="ticket !== undefined">
    <p>
        Vehicle Registration: {{ticket.placa}} <br>
        Vehicle Cylinder: {{ticket.cilindraje}} <br>
        Registration Date: {{ticket.fechaIngreso | date:'medium'}} <br>
        Departure Date: {{ticket.fechaSalida | date:'medium'}} <br>
        Total: {{ticket.totalAPagar | currency:'COP':'symbol-narrow'}}
    </p>
    <button (click)="goToVehicles()">Ok</button>
</div> 
